{% extends 'header.html' %} {% block content %} 
<div class="container-fluid">
    <div class="content-container">
    {% if request.user.is_authenticated %}
    <h2 class="text-center titulo"><strong>¡Bienvenido/a {{ user.username | upper }}!</strong></h2>
    {% else %}
    <h2 class="text-center titulo"><strong>¡Bienvenido/a!</strong></h2>
    {% endif %}
    <p class="text-center custom-text2">
        Mirá las imágenes desde 
        <a href="{% url 'home' %}" class="btn btn-outline-light btn-sm"> AQUÍ</a> <!--convierte el link en un botón-->
    </p>
    </div>
</div>
{% endblock %}